<!-- Setup Google Analytics -->
<!-- {% include head-custom-google-analytics.html %} -->

<link rel="shortcut icon" type="image/x-icon" href="{{ '/slo-logo.ico' | relative_url }}">
<title>sloraris.dev</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
