<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        <img src="{{site.logo | relative_url}}" alt="Logo" />

        <p align="center"><strong>Contact me:</strong></p>

        <p align="center">
            <a href="mailto:sloraris@sloraris.dev">
                <img src="https://img.shields.io/badge/Email-black?style=flat&logo=gmail&logoColor=white&labelColor=black&color=white" target="_blank" alt="Email sloraris">
            </a>&nbsp;
           <a href="https://discordapp.com/users/858914004935639081">
                <img src="https://img.shields.io/badge/Discord-black?style=flat&logo=discord&logoColor=white&labelColor=black&color=white" target="_blank" alt="sloraris on Discord">
            </a>&nbsp;
            <a href="https://github.com/sloraris">
                <img src="https://img.shields.io/badge/Github-black?style=flat&logo=github&logoColor=white&labelColor=black&color=white" target="_blank" alt="sloraris on Github">
            </a>
        </p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
